.markdown-body h2{
    width: auto;
    display: block;
    padding: 10px 0px;
    background-color: unset;
    border-radius: 3px;
    text-align: left;
    border: 0;
    color: #ffffff;
}
.markdown-body h2::before {
    content: "#";
    padding-right: 10px;
    color: #6d9ee7;
}
.markdown-body .highlight pre, .markdown-body pre {
    padding: 16px 5px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}
.markdown-body table .gutter{
    display: none;
}
.markdown-body table tr{
    border: 0px;
    background: unset;
}
.markdown-body table .code{
    height: auto;
    border: 0px;
    background-color: unset;
}
.markdown-body table .code pre{
    border: 0px;
    background-color: unset;
}
.markdown-body table{
    background-color: #e8e8e8;
    margin: 0;
    border-radius: 3px;
    border: 20px solid #f6f8fa;
}
.markdown-body .highlight{
    background-color: #fcfcfc;
    padding: 5px;
    border-top: 40px solid #f19c9f;
}
.markdown-body blockquote {
    display: block;
    padding: 10px;
    margin: 0 0 24px;
    border-left: 12px solid #b5bcda;
    background: unset;
    overflow: auto;
    word-break: break-word!important;
    color: #f1f1f1;
    font-size: 20px;
    text-align: left;
}
.markdown-body .code * {
    font-family: SFMono-Regular,Consolas,"Liberation Mono",Menlo,Courier,monospace;
    color: black;
    font-size: 14px;
    color: #4f0d62;
    font-weight: bold;
}
.markdown-body .code .keyword{
    color: #008f58;
    font-weight: bold;
}
.markdown-body .comment{
    color: #a7a7a7;
    font-weight: bold;
}
.markdown-body .attr{
    color: #6a79d8;
    font-weight: bold;
}
.markdown-body .string{
    color: #000000;
    font-weight: bold;
}
.markdown-body .number{
    color: #1da800;
    font-weight: bold;
}
.markdown-body .title{
    color: #ffb054;
    font-weight: bold;
}
.markdown-body .params{
    color: #008f86;
    font-weight: bold;
}
.markdown-body .built_in{
    color: #000000;
    font-weight: bold;
}
.markdown-body .literal{
    color: #ff4343;
    font-weight: bold;
}
